@import "~assets/sass/modules/variables";

.dashboard-container {
  display: flex;
  flex-direction: row;

  stack-overflow-questions, weather {
    width: 100%;
  }

  @media screen and (max-width: $screen-md-max) {
    flex-wrap: wrap;
  }
}
