.mat-table.cdk-table {
  width: 100%;

  tr.mat-row.clickable-row {
    cursor: pointer;

    &:hover td {
      background-color: whitesmoke;
    }

    &:active td {
      background-color: #efefef;
    }
  }

  td.mat-cell, th.mat-header-cell {
    &.number-cell {
      text-align: right;
      padding-right: 4px;
    }
  }

  td.mat-cell {
    font-size: 14px;
  }

  th.mat-cell, td.mat-cell {
    padding-left: 4px;
    padding-right: 4px;
  }
}
